<h2><%= link_to @post.title, post_path(@post)%></h2>
<div class="content">
	<%= @post.content.html_safe%>
</div>
<div>
	<span style="color:#333333; font-size:10px; float:right;"><%=@post.user.display_name%> Posted <%=time_ago_in_words @post.created_at%> ago</span>
</div>
