<div style="background-color:rgb(228, 202, 0); height: 26px;">
	<div id="wrapper">
		<div style="width:990px; line-height:26px; color:white; font-weight:bold;">
 			<span style="font-size:10px;"><%= render_breadcrumbs :separator => ' / ' %></span>
		</div>
	</div>
</div>