<div id="header">
	<ul class="simple-menu " id="jsddm">
	  <% @pager.root_pages.each do |page|%>
	    <li>
	    	<%=link_to page.title, "/#{page.slug}", :class => "#{'simple-menu-active' if params[:permalink] == page.slug}" %>
		  	<% if page.has_children? %>
					<ul>
						<% page.children.each do |sub_page|%>
			    		<li><%=link_to sub_page.title, "/#{sub_page.slug}" %></li>
						<% end %>
					</ul>
		  		
		  	<% end %>
	   	</li>
	  <% end %>
	</ul>
</div>


<%= content_for :js do %>
<script>
var timeout    	= 500;
var closetimer 	= 0;
var ddmenuitem  = 0;

function simple_menu_open() {	
	simple_menu_canceltimer();
	simple_menu_close();
	ddmenuitem = $(this).find('ul').eq(0).css('visibility', 'visible');
}

function simple_menu_close() {	
	if(ddmenuitem) ddmenuitem.css('visibility', 'hidden');
}

function simple_menu_timer() {	
	closetimer = window.setTimeout(simple_menu_close, timeout);
}

function simple_menu_canceltimer() {	
	if(closetimer) {	
		window.clearTimeout(closetimer);
		closetimer = null;
	}
}

$(document).ready(function() {	
	$('.simple-menu > li').bind('mouseover', simple_menu_open);
	$('.simple-menu > li').bind('mouseout',  simple_menu_timer);
});

document.onclick = simple_menu_close;

</script>
<% end %>